%h2 Welcome

#not-in-family
  - unless current_user.invitations.empty?
    .alert.alert-notice You have pending invitation.

    - current_user.invitations.each do |invitation|
      .invitation
        %p.invitation-description
          .pull-right
            .btn.btn-success.btn-sm= link_to 'Accept', accept_invitation_path(invitation)
            .btn.btn-danger.btn-sm= link_to 'Reject', reject_invitation_path(invitation)
          = image_tag invitation.user.gravatar, title: "#{invitation.user.first_name} #{invitation.user.last_name}"
          You were invited by
          = "#{invitation.user.first_name} #{invitation.user.last_name}"
          to join his family.
      .clearfix
  - else
    %p You should create a family or wait to be invited into one!

  = button_to "Create your family now", family_path, method: :post, class: "btn btn-primary btn-lg"
