.row-fluid
  .offset2.span8#presentation
    .lead
      %h1 FamilyMe
      FamilyMe - The place where you can manage your family blabla
      - unless current_user.present?
        .join-button
          = link_to image_tag('connect_with_facebook.png'), user_omniauth_authorize_path(:facebook)
          %br
          or
          %br
          = link_to 'Join the old way', new_user_registration_path, class: 'btn btn-primary btn-medium'

    .infoboxes.row-fluid
      %hr
      .span4.infobox
        %h3 Easy to use
        .text= Forgery(:lorem_ipsum).words(50)
      .span3.infobox
        %h3 Mobiles apps
        .text= Forgery(:lorem_ipsum).words(50)
      .span4.infobox
        %h3 Free
        .text= Forgery(:lorem_ipsum).words(50)
