= link_to "Export calendrier", icalendar_events_path(ical_token: current_user.get_ical_token, protocol: 'webcal', format: :ics)

.family-members-list
  %table.table.table-bordered.table-hover
    %tr
      %th Avatar
      %th email
      %th first name
      %th last name
      %th Last seen

    - @users.each do |user|
      %tr
        %td= image_tag user.gravatar_url(size: 100)
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td= user.last_sign_in_at
