%section#invitations-list
  %h3 Invitations
  - if @invitations.any?
    %table.table.table-bordered.table-hover.invitations-list
      %tr
        %th Email
        %th= t('sent_by')
        %th Status
      - @invitations.each do |invitation|
        %tr{class: invitation.get_table_row_class}
          %td= invitation.email
          %td= invitation.user.display_name
          %td= invitation.status
  - else
    %p You haven't sent any invitation yet.
  = link_to t('invite_someone'), new_invitation_path, class: 'btn btn-warning'
