#tasks-lists-index
  .btn.btn-info= link_to 'Create list', new_task_list_path
  .task-lists-array
    - unless @task_lists.empty?
      %table.table.table-bordered.table-hover
        %tr
          %th Title
          %th Description
          %th Author
          %th Tasks
          %th Status

        - @task_lists.each do |task_list|
          %tr
            %td= link_to task_list.title, task_list
            %td= task_list.description
            %td= task_list.author.try(:visible_name)
            %td= task_list.tasks.count
            %td= task_list.status
    - else
      %h3.alert-notice There are no tasks yet
