.navbar.navbar-inverse
  .navbar-header
    = link_to "FamilyMe", dashboard_path(locale: I18n.locale), :class => 'navbar-brand'
  %ul.nav.navbar-nav.languages
    %li= link_to 'English', url_for(locale: 'en'), class: "#{'selected' if I18n.locale.to_s == 'en'}"
    %li= link_to 'Français', url_for(locale: 'fr'), class: "#{'selected' if I18n.locale.to_s == 'fr'}"

  - if user_signed_in?
    %ul.nav.navbar-nav.navbar-right
      %li= link_to t('webapp.title_1'), users_path
      %li= link_to t('webapp.title_2'), edit_user_registration_path
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => "dropdown", 'data-target' => '#'}
          = t('webapp.title_3')
          %b.caret.orange-caret
        %ul.dropdown-menu
          %li= link_to t('webapp.title_4'), invitations_path
          %li= link_to t('webapp.title_5'), new_invitation_path
      %li= link_to(t('webapp.title_6'), destroy_user_session_path, method: 'delete')

