= link_to "Home", root_path, :class => 'brand'
- if @displayHomepageTitles
  %ul.nav#homenavbar
    %li
      %a{href: "#title1"} Title 1
    %li
      %a{href: "#title2"} Title 2
    %li
      %a{href: "#title3"} Title 3
    %li
      %a{href: "#title4"} Title 4
    %li
      %a{href: "#title5"} Title 5
    %li
      %a{href: "#title6"} Title 6

%ul.nav.pull-right
  %li
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Sign up', new_user_registration_path)