.navbar.navbar-inverse
  .navbar-header
    = link_to "FamilyMe", dashboard_path(locale: I18n.locale), :class => 'navbar-brand'

  - if user_signed_in?
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Family', users_path
      %li= link_to 'Your account', edit_user_registration_path
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => "dropdown", 'data-target' => '#'}
          Invitations
          %b.caret.orange-caret
        %ul.dropdown-menu
          %li= link_to 'List', invitations_path
          %li= link_to 'New', new_invitation_path
      %li= link_to('Logout', destroy_user_session_path, method: 'delete')

