= link_to "Home", root_path, :class => 'brand'

- if user_signed_in?
  %ul.nav
    %li
      =link_to 'Invite your family', new_user_invitation_path
%ul.nav.pull-right
  %li
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Sign up', new_user_registration_path)