!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "FamilyMe - Welcome !"
    %meta{:content => "FamilyMe is the place where you can manage your family !", :name => "description"}
    %meta{:content => "Dimitri JORGE", :name => "author"}
    = stylesheet_link_tag    "landing", :media => "all"
    = javascript_include_tag "landing"
    = csrf_meta_tags
    = yield(:head)
  %body
    #home.row
      .col-md-2.col-md-offset-3.logo= image_tag('landing/logo.png')
      .col-md-3.pitch
        %h1 FamilyMe
        %p
          %i Family Management has never been so easy !
        %p
          Features include:
          %ul
            %li Calendar
            %li Messages
            %li Geolocalisation
            %li And many others
          Plus, It's
          %b free
          !
        %p Look below for a full list of our features.
      .clear &nbsp;
      .join-buttons
        = link_to 'Sign up', new_user_registration_path, class: 'btn btn-default btn-lg btn-primary'
        = link_to 'Sign in', new_user_session_path, class: 'btn btn-default btn-lg btn-success second'
    #features.container
      %h1 Features
      .clear &nbsp;
      .row
        .col-md-6
          %h2 Invite your family
          %p
            FamilyMe is not a social network. It's just a place for your family, invite your sister, your father etc.
            Then, you can start to do a lot of stuff using our service!

          %p= Forgery(:lorem_ipsum).words(50)
        .col-md-6= image_tag 'landing/invite.jpg'
      .clear &nbsp;
      .row
        .col-md-6
          .pull-right= image_tag 'landing/geolocalisation.png'
        .col-md-6
          %h2 Geolocalisation
          %p
            FamilyMe Enables you to know where all your family is !
            Use the mobile apps keep an eye on your family's position, or connect into your browser.
          %p
            You can also have an history of the past position of every members, of course the positions needs to be checked out first (using our Mobile apps!).
      .clear &nbsp;
      .row
        .col-md-6
          %h2 Calendar
          %p
            Create and retrieve events on your family's calendar !
            You can also subscribe to this calendar so that you can import it on your google calendar or the iCalendar MacOS application!
          %p= Forgery(:lorem_ipsum).words(50)

        .col-md-6= image_tag 'landing/calendar.png'
      .clear &nbsp;
      .row
        .col-md-6
          .pull-right= image_tag 'landing/todo.png'
        .col-md-6
          %h2 Task lists
          %p
            Tired or saying all the time to your sister to do the dishes? Create a task using our service, and she will receive a notification on her mobile phone to remind her !

          %p= Forgery(:lorem_ipsum).words(50)
      .clear &nbsp;
      .much-more
        %h2 And much more !

    #app-links
      Available soon in the AppStore & Android Market
    .footer
      .row
        %span.col-md-4 ©FamilyMe
        %span.col-md-4
          FamilyMe is part of the
          = link_to 'Epitech Innovative Projects', 'http://eip.epitech.eu/2014/familyme/'
        %span.col-md-4
          = link_to image_tag('landing/twitter_icon.png'), "http://twitter.com/familymeeip", class: 'btn button', target: 'blank'
          = link_to image_tag('landing/facebook_icon.png'), "http://facebook.com/", class: 'btn button', target: 'blank'
