<!DOCTYPE html>
<html lang="en">
<head>
  <title>familyMe</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="familyMe Team">

  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "landing", :media => "all" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="content">

    <header id="main-nav" class="fixed">
      <div class="grid clearfix">
        <%= image_tag("landing/brand-id.png", :class => "brand-id left", :size => "35x35") %>
        <h3 class="brand"> FAMILYME </h3>
        <ul class="navi">
          <li> <h4><a href="#features"><%= t('homepage.header.title_1') %></a></h4> </li>
        </ul>
        <%= link_to t('sign_in'), new_user_session_path, :class => "btn gray-bg button" %>
      </div>
    </header>

    <section id="mission" class="orange-bg">
      <div id="purpose" class="grid clearfix">
        <div class="macintosh"></div>
        <div class="wrapper right">
          <h1><%= t('homepage.call_to_action.title') %></h1>
          <h5><%= t('homepage.call_to_action.description') %> </h5>

          <div>
            <a class="btn btn-default btn-lg btn-success" href="/users/sign_up"><%= t('sign_up') %></a>
          </div>
        </div>
      </div>
    </section>

    <section id="features" class="pale-bg">
      <div class="grid">
        <ul class="navi">
          <li>
            <span class="entypo-social twitter icon-social-twitter" style="font-size: 50px"></span>
            <h4><a href="#features"><%= t('homepage.feature_1') %></a></h4>
          </li>
          <li>
            <span class="entypo calendar icon-calendar" style="font-size: 50px"></span>
            <h4><a href="#archi"><%= t('homepage.feature_2') %></a></h4>
          </li>
          <li>
            <span class="entypo location icon-location" style="font-size: 50px"></span>
            <h4><a href="#archi"><%= t('homepage.feature_3') %></a></h4>
          </li>
          <li>
            <span class="entypo numbered-list icon-numbered-list" style="font-size: 50px"></span>
            <h4><a href="#archi"><%= t('homepage.feature_4') %></a></h4>
          </li>
        </ul>

        <div class="h-wrap">
          <h1><%= t('homepage.subtitle') %></h1>
          <h5><%= t('homepage.subtitle_2') %></h5>
        </div>
      </div>
    </section>

    <section id="eip" class="blue-bg">
      <div></div>
      <div class="grid clearfix">
        <p class="left">
          <%= t('homepage.eip') %>
        </p>
        <h1 class="right"> <strong> { E.I.P } </strong> </h1>
      </div>
    </section>

    <footer id="footer">
      <%= image_tag("landing/brand-id.png", :class => "brand-id", :size => "65x65") %>
    </footer>

  </div> <!-- /content -->
</body>
</html>
